<mat-toolbar class='mat-elevation-z5' color="primary" >
  <mat-toolbar-row>
    <span>Aspire IAS Resource Tracker</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class='mat-elevation-z5' color="primary">
  <mat-toolbar-row>

    <button mat-icon-button>
       <mat-icon>home</mat-icon>
    </button> 

    <button mat-button [matMenuTriggerFor]="projectMenu"><mat-icon>assignment</mat-icon>Projects</button>
      <mat-menu #projectMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink='project-create'>Create</button>
        <button mat-menu-item routerLink='project-update'>Update</button>
        <button mat-menu-item routerLink='project-delete'>Delete</button>
      </mat-menu>

    <button mat-button [matMenuTriggerFor]="resourceMenu"><mat-icon>accessibility_new</mat-icon>Resources</button>
      <mat-menu #resourceMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink='resource-create'>Create</button>
        <button mat-menu-item routerLink='resource-update'>Update</button>
        <button mat-menu-item routerLink='resource-delete'>Delete</button>
      </mat-menu>  

    <button mat-button [matMenuTriggerFor]="mappingMenu"><mat-icon>assignment_ind</mat-icon>Mappings</button>
      <mat-menu #mappingMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink='mapping-create'>Create</button>
        <button mat-menu-item routerLink='mapping-update'>Update</button>
        <button mat-menu-item routerLink='mapping-delete'>Delete</button>
      </mat-menu>

    <button mat-button [matMenuTriggerFor]="skillMenu"><mat-icon>fingerprint</mat-icon>Skills</button>
      <mat-menu #skillMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink='skill-create'>Create</button>
        <button mat-menu-item routerLink='skill-update'>Update</button>
        <button mat-menu-item routerLink='skill-delete'>Delete</button>
      </mat-menu>      

    <button mat-button [matMenuTriggerFor]="reportMenu"><mat-icon>description</mat-icon>Reports</button>
      <mat-menu #reportMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink='project-create'>Create</button>
        <button mat-menu-item routerLink='project-update'>Update</button>
        <button mat-menu-item routerLink='project-delete'>Delete</button>
      </mat-menu>   

    <button mat-icon-button>
      	<mat-icon>build</mat-icon>Settings
    </button>       
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <p style="height:76vh">
    <router-outlet></router-outlet>
  </p>
</mat-card>





<mat-toolbar class='mat-elevation-z5' style="height:30px">
  <mat-toolbar-row style="font-style: italic;font-size: 15px;">
    <span>Aspire IAS Resource Tracker</span>
    <mat-icon>copyright</mat-icon>Aspire Systems India Private Limited
    <mat-icon>contact_support</mat-icon>aspire@aspire.com
   </mat-toolbar-row>
</mat-toolbar>